Import necessary packages

In [18]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd

Scrap wikipedia webpage and print it

In [53]:
wiki = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page=urllib.request.urlopen(wiki)
soup = BeautifulSoup(page)

/opt/conda/envs/DSX-Python35/lib/python3.5/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file /opt/conda/envs/DSX-Python35/lib/python3.5/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

Find the table and print it

In [35]:
table = soup.find_all('table')[0] 
df = pd.read_html(str(table),header=0)[0]
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Drop the observations that do not have assigned borough

In [ ]:
df = df.drop(df[df['Borough']=="Not assigned"].index)

Change the name of the column

In [56]:
df = df.rename(columns={'Postcode': 'Postal Code'})

Merge observations with the same postcode

In [34]:
df=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df.head(12)

              Borough                                      Neighbourhood
Postcode
M1B       Scarborough                                      Malvern,Rouge
M1C       Scarborough               Highland Creek,Port Union,Rouge Hill
M1E       Scarborough                    Morningside,West Hill,Guildwood
M1G       Scarborough                                             Woburn
M1H       Scarborough                                          Cedarbrae
M1J       Scarborough                                Scarborough Village
M1K       Scarborough          East Birchmount Park,Kennedy Park,Ionview
M1L       Scarborough                      Clairlea,Golden Mile,Oakridge
M1M       Scarborough      Cliffside,Cliffcrest,Scarborough Village West
M1N       Scarborough                         Birch Cliff,Cliffside West
M1P       Scarborough  Dorset Park,Wexford Heights,Scarborough Town C...
M1R       Scarborough                                   Wexford,Maryvale

If observation has no assigned Neighbourhood, assign the Borough name instead

In [52]:
df.loc[(df.Neighbourhood == 'Not assigned'), 'Neighbourhood']=df.loc[(df.Neighbourhood == 'Not assigned'), 'Borough']

Print number of rows and columns

In [50]:
df.shape

(211, 3)

In [55]:
coordinates=pd.read_csv("https://cocl.us/Geospatial_data")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [57]:
full_df= pd.merge(df, coordinates, on='Postal Code')

  Postal Code           Borough     Neighbourhood   Latitude  Longitude
0         M3A        North York         Parkwoods  43.753259 -79.329656
1         M4A        North York  Victoria Village  43.725882 -79.315572
2         M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3         M5A  Downtown Toronto       Regent Park  43.654260 -79.360636
4         M6A        North York  Lawrence Heights  43.718518 -79.464763